* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}
header {
    display: flex; /*чтобы включить флексбокс*/ 
    justify-content: space-between; /* Чтобы логотип прижался влево, а меню вправо*/
    background-color: #1a1a1a; /*Темный фон*/
    padding: 20px 50px;

    position: sticky;
    top: 2px;
    z-index: 100;
    border-radius: 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none; /*убираем маркеры*/
    display: flex;
    gap: 30px;
}
 nav a {
    color: #667eea;
    text-decoration: none; /*убирает подчеркивание*/
    font-size: 16px;
    transition: color 0.3s; /*Плавный переход*/
 }

 nav a:hover {
    color: #764ba2;
    transform: scale(1.05);
 }

 .hero {
    display: flex;
    flex-direction: column; /*элементы друг под другом*/
    justify-content: center; /*По вертикали*/
    align-items: center; /*По горизонтали*/ 
    height: 100vh; /*На всю высоту экрана*/
 }

 .cta-button {
    text-decoration: none;
    background: linear-gradient(90deg, #667eea, #764ba2);
    color: #ffff;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 30px; /*Скругление краев*/
    transition: transform 0.3s;
 }
 .cta-button:hover {
    transform: scale(1.05);
 }

 .hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #261b2b;
 }
 .hero p {
    font-size: 20px;
    color: #fdfdfd;
    margin-bottom: 30px;
 }

 .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: -moz-linear-gradient(135deg, #5c396d 4%, #5e9491 100%);
 }
 .about {
    padding: 80px 50px;
    background: #b9adbd; 
    text-align: center;
 }

 .about h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #261b2b;
 }
 .about-content {
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 800px;
    margin: 0 auto;
 }
 .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
 }

 .strengths {
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
 }
 .strengths-card {
    background: linear-gradient(90deg, #667eea, #764ba2);
    color: #fdfdfd;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 10, 51, 0.1); /*Тень*/
    flex: 1; /*Делит на равную ширину*/
    transition: transform 0.3s;
 }
 .strengths-card:hover {
    transform: scale(1.05);
 }

 .tech-tags {
   display: flex;
   gap: 10px;
   justify-content: center;
   margin-top: 15px;
 }
 .tech-tags span {
   background: #fdfdfd;
   padding: 5px 15px;
   border-radius: 15px;
   font-size: small;
   color: #261b2b;
 }

 .project {
    padding: 80px 50px;
    background: #b9adbd; 
    text-align: center;
 }
 .project-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
 }
 .project-card {
   background: #261b2b;
   color: #fdfdfd;
   padding: 30px;
   border-radius: 15px;
   box-shadow: 0 4px 6px rgba(50, 10, 51, 0.1);
   flex: 1;
   transition: 0.3s;
 }

 .project-card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 15px;
   margin-bottom: 15px;
 }

 footer{
   background-color: #1a1a1a;
   color: #fdfdfd;
   padding: 40px 20px;
   text-align: center;
 }

 .footer-contacts {
   display: flex;
   justify-content: center;
   gap: 30px;
 }
 footer a {
   text-decoration: none;
   color: #667eea;
   transition: transform 0.3s;
 }

 footer a:hover {
   transform: scale(1.2);
 }

 @media (max-width: 768px) {
   .project-grid{
      grid-template-columns: 1fr;
   }
   .strengths {
      flex-direction: column;
   }
   header {
      flex-direction: column;
      padding: 15px;
   }
   nav ul {
      flex-direction: row;
      gap: 10px;
      display: flex;
      justify-content: center;

   }
   .logo{
      font-size: 18px;
      display: flex;
      justify-content: center;
      margin: 12px;
   }
   .hero h1 {
      font-size: 35px;
      display: flex;
      align-items: center;
   }
   .hero p {
      font-size: 16px;
   }
   .about, .project {
      padding: 40px 20px;
   }
   .hero {
      height: auto;
      min-height: 60vh;
      padding: 60px 20px;
   }
 }
