* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}
header {
    display: flex; /*чтобы включить флексбокс*/ 
    justify-content: space-between; /* Чтобы логотип прижался влево, а меню вправо*/
    background-color: #1a1a1a; /*Темный фон*/
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
