* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}
header {
    display: flex; /*чтобы включить флексбокс*/ 
    justify-content: space-between; /* Чтобы логотип прижался влево, а меню вправо*/
    background-color: #1a1a1a; /*Темный фон*/
    padding: 20px 50px;

    position: sticky;
    top: 2px;
    z-index: 100;
    border-radius: 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none; /*убираем маркеры*/
    display: flex;
    gap: 30px;
}
 nav a {
    color: #667eea;
    text-decoration: none; /*убирает подчеркивание*/
    font-size: 16px;
    transition: color 0.3s; /*Плавный переход*/
 }

 nav a:hover {
    color: #764ba2;
    transform: scale(1.6);
 }

 .hero {
    display: flex;
    flex-direction: column; /*элементы друг под другом*/
    justify-content: center; /*По вертикали*/
    align-items: center; /*По горизонтали*/ 
    height: 100vh; /*На всю высоту экрана*/
 }

 .cta-button {
    text-decoration: none;
    background: linear-gradient(90deg, #667eea, #764ba2);
    color: #ffff;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 30px; /*Скругление краев*/
    transition: transform 0.3s;
 }
 .cta-button:hover {
    transform: scale(1.05);
 }

 .hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #261b2b;
 }
 .hero p {
    font-size: 20px;
    color: #fdfdfd;
    margin-bottom: 30px;
 }

 .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: -moz-linear-gradient(135deg, #5c396d 4%, #5e9491 100%);
 }
